In [1]:
import os
os.listdir()

['.DS_Store',
 '.ipynb_checkpoints',
 'average.py',
 'DA_API.py',
 'database.xlsx',
 'Moving_avg.py',
 'output.json',
 'panda_avg.py',
 'price_comparason.py',
 'rolling_average.py',
 'texting.py',
 'Untitled.ipynb']

In [2]:
import pandas

In [6]:
df1 = pandas.read_excel("database.xlsx",sheet_name=0)
df1

   min_price
0         80
1         40
2         30

In [18]:
df1.loc[1,"min_price"]

40

In [19]:
list(df1.loc[0:1,"min_price"])

[80, 40]

In [20]:
df1[3] = 30

In [23]:
df1 = df1.drop(3,1)

In [51]:
df1.iloc[3,0] = 20
df1

   min_price
0       10.0
1       20.0
2       30.0
3       20.0

In [52]:
df1.iloc[3,0]

20.0